<app-header></app-header>
<router-outlet></router-outlet>
<div id="content-wrapper">
		<div id="example-wrapper">
			<div class="scrollContent"> 
				 <section id="titlechart">
					<div id="description">
						<h1 class="badge gsap">Bezier Path Animation</h1>
					</div>
				</section> 
				<section class="demo" id="bezier">
					<div class="spacer s2"></div>
					<div class="spacer s0" id="trigger"></div>
					<div id="target">
						<img id="plane" src="./assets/p.png" width="60" height="60"/>
						<a href="#" class="viewsource">view source</a>
					</div>
					<div class="spacer s2"></div>
					
				</section>
				<div class="spacer s_viewport" style="height:1200px"></div>
			</div>
		</div>
	</div>