<div class="container">
    <form class="form-signin">
        <div class="container1">
            <h1>Reverse Charge</h1>
        </div>
        <div class="container2">
            <div class="row">
                <label for="for">For</label>
            </div>
            <div class="row">
                <div class="form-group">
                    <select class="form-control">
                            <option value="op0">- select option -</option> 
                            <option value="op1">Insurance agent</option>
                            <option value="op2">Services of a director to a company</option>  
                            <option value="op3">Manpower supply </option>
                            <option value="op4">Goods Transport Agencies </option>
                            <option value="op5">Non-resident service providers </option>
                            <option value="op6">Any service involving aggregators </option>
                          </select>
                </div>
            </div>
            <div class="row">
                <label for="date1">The date of receipt of goods:</label>
            </div>
            <div class="form-group row">
                <div class="form-group col-sm-4">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                 <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="date2">The date of payment:</label>
            </div>
            <div class="form-group row">
                <div class="form-group col-sm-4">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="date3">The date of issue of invoice by the supplier:</label>
            </div>
            <div class="form-group row">
                <div class="form-group col-sm-4">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="date4">The date on which the recipient entered the payment in his books : </label>
            </div>
            <div class="form-group row">
                <div class="form-group col-sm-4">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="row">
                <label for="date4">The date on which the payment is debited from his bank account: </label>
            </div>
            <div class="form-group row">
                <div class="form-group col-sm-4">
                    <div class='input-group date' id='datetimepicker1'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                     <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="container3">
        <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>

</div>