.col-xs-9{
    padding: 0px 0px 0px 100px;
}
.searchboxContainer{
    padding: 20px 50px 20px 50px;
    
  }
  .searchboxContainer .searchInnerContainer{
    padding: 50px 150px 50px 150px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: rgba(235, 251, 233, 0.74);
    
  }
  .box{
      border: 2px solid #ccc;
      padding: 20px 20px 20px 20px;
      border-radius: 5px;
      margin: 30px 40px 30px 40px;
  }
  .cardview{
    padding: 40px 40px 40px 50px;
  }
  .rev{
    position: fixed;
    border: 2px solid #ccc;
    padding: 250px 80px 250px 190px;
    background: #ccc;
  }