<div class="container-fluid">
  <div class="row">
    <div class="col-xs-9" >
      <div class="row">
        <div class="col-xs-12 searchboxContainer">
          <div class="searchInnerContainer">
            <div class="input-group stylish-input-group">
              <input type="text" class="form-control" placeholder="Search">
              <span class="input-group-addon">
                <button type="submit">
                     <span class="glyphicon glyphicon-search"></span>
              </button>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class = "cardview">
        <div class="col-xs-12 col-sm-5 box">
          <legend>Food Item:</legend>
          Rate<br> Description
          <br> HSN code
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-xs-12 col-sm-5 box">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
            dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-xs-12 col-sm-5 box">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
            dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-xs-12 col-sm-5 box">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio
            dui. </p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        </div>
      </div>

    </div>
    <div class="col-xs-3 ">
      <div class="rev">
    <a href="/reverse">aaaaaaaa</a>
      </div>
    </div>
  </div>

</div>
